<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Lora');

.form-div{
    margin: 50px auto 50px;
    padding: 25px 15px 10px 15px;
    border: 1px solid #80ced7;
    border-radius: 5px;
    font-size: 1.1em;
}
.form-control:focus{
    box-shadow: none;
}
form p{
    font-size: 0.89em;
}
.form-group{
    margin-top: 25px;
}
    </style>
    <title> SCC - Reset Password </title>
  </head>
  <body>
  


<div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 form-div">
                <form method="POST">
                {% csrf_token %}
                    <h3 class="text-center">Reset Password</h3>
                    <div class="form-group">
                        <label for="username">Email: </label>
                        <input type="email" class="form-control form-control-lg" name="email">
                    </div>
                    <div class="form-group d-grid gap-2">
                        <button type="submit" class="btn btn-block btn-primary btn-lg" name="forgot-btn"> Submit </button>
                    </div>
                    <p class="text-center">Don't a <b>Student</b> of SCC <a href="{% url 'register' %}"> Register here </a></p>
                    <p class="text-center">Go to <a href="{% url 'login' %}">Login </a></p>
                </form>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>